body {
  background-color: #852928;
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#wrapper {
  text-align: center;
}

#header {
  background-image: url(back.jpg);
  height: 7.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
}

h1 {
  margin: 0;
}

nav {
  background-color: #432865;
  font-size: 2vh;
}

nav ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

nav li {
  display: inline;
  margin: 0 20px;
}

a {
  color: aliceblue;
}

.sticky {
  position: fixed;
  top: 7.5vh;
  width: 100%;
  transition: top 0.3s;
}

#content {
  padding-top: 70px;
}

.command {
  margin-bottom: 20px;
  padding: 10px;
}
